<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>PHPMall {$goodsInfo.goods_name}</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />	
	<link rel="stylesheet" href="/static/index/css/base_1.css" />
	<link rel="stylesheet" href="/static/index/css/goods.css" />
	<script src="/static/index/js/jquery-2.1.4.min_1.js"></script>
	<script src="/static/index/js/jquery-migrate-1.2.1.min_1.js"></script>
	<script src="/static/layer/layer.js"></script>
	<link type="image/x-icon" href="/public/uploads/cache/images/osc1/store/index-16x16.jpg" rel="icon">
	<link type="image/x-icon" href="/public/uploads/cache/images/osc1/store/index-16x16.jpg" rel="bookmark">
</head>
<body>
	<div class="com-top-nav w">
	<div class="wcp-wrap">
	</div>
</div>
	{include file='public/header'}
<div class="wcp_wrap">
	<div class="list_crumb">
		<ul class="list_crumb_list">
			<li class="classify"><a href="/">首页</a><i class="crumb_arrow"></i></li>
					<li class="classify">
							<a  href="{:url('index/Categorys/index',array('id'=>$goodsInfo.category.id))}"  >{$goodsInfo.category.cate_name}</a>
							<i class="crumb_arrow"></i>
					</li>
			<li><a href="javascript:;">{$goodsInfo.goods_name}</a></li>
		</ul>
	</div>
	<div class="detail-ctr clearfix">
		<div class="dtl-info clearfix">
			<div class="preview">					
					<div class="smallImg">
						<div id="imageMenu">
							<ul id="images_0"  >
								{volist name="$goodsInfo.images" id="images"}
								<li data-bimg="/{$images.img_path}">
									<img width="100%" src="/{$images.img_path}" />
								</li>
								{/volist}
							</ul>
						</div>
					</div>
					<div class="bigImg" id="vertical">
						<img width="600" height="600" style= "margin-top:0px;" id="midimg" class="loading" src="" />
					</div>
			</div>
			<div class="pro-info-dtl">
				<div class="pro-detail-hd">
					<h1>
						<span class="fl">{$goodsInfo.goods_name} </span><span class="exp-style">货号：<span id="sn">{$goodsInfo.goods_code}</span></span>
					</h1>
					<a class="start-comment" href="javascript:;"></a>
				</div>
				<div class="pro-sales-list">
							<p class="pro-sales-item">
								<b class="c-red">&yen; </b><b class="current_price c-red">{$goodsInfo.shop_price}</b>
							</p>
							<p class="pro-sales-item">市场价：<span id="market-price">&yen; {$goodsInfo.markte_price}</span></p>
												
						<p class="pro-sales-item">库存量：<span id="store_quantity">{$goodsInfo.stock}</span> </p>
				
				</div>
				<!--规格-->
				<div id="selectbox" class="selectbox">
					<dl class="spec-item clearfix">
						{volist name="$goodsInfo.product" id="product"}
						<dt>{$product.name}：<span>{$product.detail}</span></dt>
						{/volist}
					</dl>
				</div>
				<!--规格-->
				<div class="sumbox">
					<div class="select_number">	
						<input type="text" onkeyup='change_quantity("{$goodsInfo.id}",this);' name="quantity" size="2" value="1" id="quantity" class="text">
						<button onclick='changeQty(1,"{$goodsInfo.id}");' class="increase">+</button>
						<button onclick='changeQty(0,"{$goodsInfo.id}");' class="decrease">-</button>
					</div>
					<div class="buttonbox">
							 <input type="button" value="加入购物车" class="dtl-cart buy"  ctype='1l8krlkgzy'>
							 <input type="button" value="立即购买" rel="buy" class="buy" style="background-color: #d00;"  ctype='p80xgpxoq1'>
					</div>
				</div>
			
		</div>			
	</div>
	<div class="maybe-like">

	</div>
	<div class="pro-dtl-ctr">
				<div class="pro-dtl-menu">
					<a class="current" href="javascript:;">产品细节 <i></i></a> <a href="javascript:;" class="">商品评价 <i></i></a>
				</div>
				<div class="detail-box" style="display: block;">
					<?php echo $goodsInfo['goods_des'];?>
				</div>
	</div>
</div>
</div>
	<!--底部-->
	{include file='public/footer'}
<script>
 var navtoTop = $(".nav").offset().top + $(".nav").height();
    var topNavTop = $(".nav").offset().top;
    $(".right-sidebar").css('top', topNavTop + 'px');
    $(".go-to-top").fadeOut(100);

    $(window).scroll(function() {
        var scrollHeight = $(window).scrollTop();
        if (scrollHeight <= navtoTop) {
            $(".right-sidebar").css('top', topNavTop + 'px');
            $(".nav").removeClass("fixed-nav");
            $(".go-to-top").fadeOut(100);
            $(".right-sidebar .account-box").css('bottom', topNavTop + 'px');
            $(".sidebar-box .like-show-more,.sidebar-box .saw-show-more").css('margin-bottom', topNavTop * 2 + 'px');
        } else if (scrollHeight > navtoTop) {
            $(".right-sidebar").css('top', '0px');
            $(".nav").addClass("fixed-nav");
            $(".go-to-top").fadeIn(100);
            $(".right-sidebar .account-box").css('bottom', '0');
            $(".all-styles-tab").hide();

            $(".fixed-nav .main-nav .all-styles").hover(function() {
                $(this).find(".all-styles-tab").show();
            },
            function() {
                $(this).find(".all-styles-tab").hide();
            });
            $(".sidebar-box .like-show-more,.sidebar-box .saw-show-more").css('margin-bottom', topNavTop + 'px');
        }
    });

</script>
<div class="right-sidebar clearfix">
	<div class="sidebar-list">

		<div onclick="get_cart_list();" box="cart_box" class="sidebar-item box user-cart-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-txt">购物车</div>

		</div>

		<div onclick="get_bonus_card();" box="bonus_card_box" class="sidebar-item box user-bonus-card-box">

			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">优惠券<div class="sidebar-icon">◆</div></div>
		</div>

		<div onclick="get_like_data();" box="like_box" class="sidebar-item box user-like-box">

			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">我的收藏<div class="sidebar-icon">◆</div></div>
		</div>
		<div onclick="get_look_data();" box="saw_box" class="sidebar-item box user-saw-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">最近浏览<div class="sidebar-icon">◆</div></div>
		</div>
		<div class="sidebar-item user-tel-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">
				服务时间:9~22点<br><span>400-881-8283</span>
				<div class="sidebar-icon">◆</div>
			</div>
		</div>
		<div class="sidebar-item user-service-box current">
			<div class="sidebar-logo"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1093157171&amp;site=qq&amp;menu=yes" target="_blank"></a></div>
			<div class="sidebar-tab-tip"><a style="color:#fff;" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1093157171&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><div class="sidebar-icon">◆</div></div>
		</div>
		<div class="sidebar-item user-qrcode-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">
				<div class="qrcode-img"><img src="/static/index/picture/qrcode-125x125_1.jpg"></div>
				<div class="sidebar-icon">◆</div>
			</div>
		</div>
		<a class="go-to-top" href="javascript:;"></a>
	</div>



	<div class="sidebar-box">



		<div id="cart_box" class="sidebar-cart-box sidebar-box-item hide">

			<h3 class="saw-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>购物车</span>
			</h3>
			<div class="cart-table-box">
			<table class="cart-table">
				<tbody>

				</tbody>
			</table>
			</div>
			<div class="account-box hide">

				<a class="to-settlement" href="/checkout/goods/all">去结算</a>
			</div>


			<div class="tip-text hide">

				购物车空空的，赶快去挑选心仪的商品吧~
				<a href="/categorys">去看看吧</a>
			</div>
		</div>

		<div id="bonus_card_box" class="sidebar-like-box sidebar-box-item hide">
			<h3 class="like-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>我的优惠券</span>
			</h3>

			<div id="bonus_card_html">



			</div>
		</div>


		<div id="like_box" class="sidebar-like-box sidebar-box-item hide">
			<h3 class="like-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>我的收藏</span>
			</h3>
		<div class="like-content hide">

	           <ul class="like-lists clearfix">
               </ul>
              <a  class="like-show-more show-more-item" href="/member/wishlist/index"><span>查看更多</span><i></i></a>
       </div>
			<div class="like-alert anta-alert hide">
				<p class="title">提示：</p>
				<p class="content">您还没有登录哦~立即登录看看</p>
				<a class="ensure" onclick="go_login()">确定</a>
			</div>
			<div class="tip-text hide">
				收藏夹空空的，赶快去挑选心仪的商品吧~
				<a href="/categorys">去看看吧</a>
			</div>
		</div>



		<div id="saw_box" class="sidebar-saw-box sidebar-box-item hide">
			<h3 class="saw-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>最近浏览</span>
			</h3>
			<div class="saw-content">
               <span class="saw-total"><span class="saw-total-num">0</span>件商品</span>

            </div>
			<div id="look_content" class="saw-content hide">
               <span class="saw-total"><span class="saw-total-num">0</span>件商品</span><a class="saw-clean" onclick="clear_look()" href="javascript:;">清空</a>
               <ul class="saw-lists clearfix">
               </ul>

            </div>


		</div>
	</div>
</div>
<script>
 // 更改数量
 function changeQty(num,goods_id) {
     // 获取现有的数量
	 var quantity = $("#quantity").val();
	 if (num === 0){
       	if(quantity == 1 || quantity < 1){
            layer.alert('最小起订量是1 件');
            $("#quantity").val(1);

            return ;
		}else {
             $("#quantity").val(quantity-1);
		}
	 }else {
	      // 通过ajax请求 查询商品库存。
         $.ajax({
             url:"{:url('index/Goods/getGoodsStock')}",
             type:"POST",
             dataType:"json",
             data:{
                 goods_id:goods_id
             },
             success:function (res) {
				if(quantity >= res){
					layer.alert('该商品数量不足，剩余 '+ res+' 件')
                    $("#quantity").val(res);
				}else {
                    $("#quantity").val(parseInt(quantity) + 1);
                }
             }
         });

     }
 }
 function change_quantity(goods_id,obj) {
     var quantity = $(obj).val();
     if(quantity<1){
         $("#quantity").val(1);
	 }
	 if(isNaN(quantity)){
         $("#quantity").val(1);
	 }
     // 通过ajax请求 查询商品库存。
     $.ajax({
         url:"{:url('index/Goods/getGoodsStock')}",
         type:"POST",
         dataType:"json",
         data:{
             goods_id:goods_id
         },
         success:function (res) {
             if(quantity > res){
                 layer.alert('该商品数量不足，剩余 '+ res+' 件')
                 $("#quantity").val(res);
             }
         }
     });
 }
var cur_action=null;
var last_action=null;
var flag=0;
//滑动动画
function right_sidebar_animate(id){
	
	cur_action=id;
	
	if(cur_action==id&&flag==0){	
		 last_action=id;		 
		 $('.right-sidebar').animate({right: "0px"},600);
         $('.sidebar-box-item').addClass("hide");
         $('#'+id).removeClass("hide");
         flag=1
	}else if(cur_action==last_action&&flag==1){
		$('.right-sidebar').animate({right: "-280px"},'fast');
		cur_action=null;
		last_action=null;
		flag=0;		
		return;
	}else if(last_action!=cur_action){		
		flag=1;	
		last_action=id;		
		$('.sidebar-box-item').addClass("hide");
        $('#'+id).removeClass("hide");			
	}
}
//关闭右边栏菜单
$('.sidebar-box-close').click(function(){
	cur_action=null;
	last_action=null;
	flag=0;	
	$('.right-sidebar').animate({right: "-280px"},'fast');	
});



//购物车商品
function get_cart_list(){
	
	var id=$('.user-cart-box').attr('box');
	
	right_sidebar_animate(id);	
	if(flag==1)
	$.ajax({
			url: '/Api/Home/get_cart_list',			
			dataType: 'json',
			type: 'post',
			beforeSend: function() {
				
			},
			complete: function() {
				
			},
			success: function(data) {
					var result = '';
		            if (data.count == 0) {
		                $(".sidebar-cart-box .tip-text").removeClass("hide");
		                $(".sidebar-cart-box .cart-table-box,.sidebar-cart-box .account-box").addClass("hide");
		                return false;
		            }else{
		            	$('#cart_box .tip-text').addClass("hide");
		            	$(".cart-table-box").removeClass("hide");
		            	$('.account-box').removeClass("hide");
		            }
		         
		            $.each(data.list,
		            function(i, item) {
		                result += '<tr id="' + item.cart_id + '">' 
		                
		                + '<td width="60"><a href="' 
		                + item.url + '" target="_blank" class="right-sidebar-img"><img src="' 
		                + item.image + '" alt="' + item.name + '"></a></td>' 
		                + '<td width="70"><span class="right-sidebar-title">' 
		                + item.name + '</span></td>' 
		                + '<td width="65"><div class="num-box"><a href="javascript:;" onclick="rchangeQty(0,\''+item.cart_id+'\');" class="num-op num-minus hidden">-</a><span class="num">' 
		                + item.quantity + '</span><a href="javascript:;" onclick="rchangeQty(1,\''+item.cart_id+'\');" class="num-op num-add hidden">+</a></div></td>' 
		                + '<td width="60"><a href="javascript:;" onclick="remove_cart(\''+item.cart_id+'\');" class="delete-item hidden">x</a><span class="num-price">' 
		                +'￥'+item.price + '</span></td>' + '</tr>';
		            });
		            $(".sidebar-cart-box .cart-table-box").find("tbody").html(result);
					
					
					$(".sidebar-box .cart-table tr").each(function() {
					    $(this).hover(function() {
					        $(this).find(".num-op").removeClass("hidden");
					        $(this).find(".delete-item").removeClass("hidden");
					    },
					    function() {
					        $(this).find(".num-op").addClass("hidden");
					        $(this).find(".delete-item").addClass("hidden");
					    });
					});	
				
			}
	});	
}
//更新购物车商品数量
function rchangeQty(increase,cart_id) {
	
    var quantity = parseInt($('#'+cart_id).find('.num').text());  

    if (!isNaN(quantity) ) {
    	//增加
		if(increase){		
			quantity++;			
		}else{
			quantity--;		
		}   
		$.post(			
			'/api/Home/update_cart',
			{quantity:quantity,cart_id:cart_id},
			function(json){					
				$('#'+cart_id).find('.num').html(json.quantity);
				$('.cart-num').text('( '+json.total_quantity+' )');
			}
		); 
    }
}		
//删除购物车商品
function remove_cart(cart_id){
	var f=confirm('确认要删除该商品吗？');
	
	if(f==false){
		return false;
	}
	$.post(
		'/api/Home/remove_cart',	
		{cart_id:cart_id},	
		function(json){			
			
			if (json.success) {				
				
				$('#' + cart_id).remove();
				
				$('#'+cart_id).find('.num').html(json.quantity);
				
				$('.cart-num').text('( '+json.quantity+' )');				
				
				if(json.quantity==0){				
					$('.cart-table-box').addClass('hide');
					$('.account-box').addClass('hide');
					$('#cart_box .tip-text').removeClass('hide');
				}
				
				
			}else if(json.error){
				
				alert(json.error);		
				
			}	
		}
	);
}
$(".right-sidebar .sidebar-item").each(function() {
	
    $(this).hover(function() {
        $(this).addClass("current");
    },
    function() {
        $(this).removeClass("current");
    });
   
});
//回到顶部
$(".go-to-top").click(function() {
			$('body,html').animate({
				scrollTop: 0
			},
			"fast");
			return false;
	}); 	
</script>

<script src="/static/index/js/common_1.js"></script>

<script src="/static/index/js/jquery.raty.min.js"></script>
<script>



$(function(){
	$('#imageMenu ul:first li:first').trigger('click');
});
//图册缩略图点击
$('#imageMenu li').click(function(){
	$('#imageMenu li').removeClass('click');
	$(this).addClass('click');
	var src=$(this).attr('data-bimg');
	$("#midimg").attr("src", src);
});




</script>

</html>