<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>{$title}-PHPMall</title>
	<meta name="keywords" content="{$title}"/>
	<meta name="description" content="{$title}"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />	
	<link rel="stylesheet" href="/static/index/css/base_1.css" />
	<link rel="stylesheet" href="/static/index/css/category.css" />
	<script src="/static/index/js/jquery-2.1.4.min_1.js"></script>
	<script src="/static/index/js/jquery-migrate-1.2.1.min_1.js"></script>
	<link type="image/x-icon" href="/public/uploads/cache/images/osc1/store/index-16x16.jpg" rel="icon">
	<link type="image/x-icon" href="/public/uploads/cache/images/osc1/store/index-16x16.jpg" rel="bookmark">
	<script src="/static/layer/layer.js"></script>
</head>
<body>
	<div class="com-top-nav w">
	<div class="wcp-wrap">
	</div>
</div>
	{include file='public/header'}
<div class="wcp_wrap">
	<div class="list_crumb">
		<ul class="list_crumb_list">
			<li class="classify"><a href="/">首页</a><i class="crumb_arrow"></i></li>
			<a href="{:url('index/Categorys/index',array('id'=>0))}"><li class="classify">所有产品</li></a>
		</ul>
	</div>
	<div id="filter" class="selector_box">
		<div class="selector_info">
			<h3>
				<em>产品筛选</em> <b> </b>
			</h3>			
			<span style="float:right;">搜索到<b>{$count}</b>件商品</span>
		</div>
		{volist name="category" id="vo_category"}
		<dl class="selector_line">
			<a  href="{:url('index/Categorys/index',array('id'=>$vo_category.id))}"><dt  {if $id==$vo_category.id} style="color: #f60;" {/if}  >{$vo_category.cate_name}</dt></a>
			<?php $erji = $vo_category['erji'];?>
			<dd class="values">
				<ul>
					{volist name="$erji" id="vo_erji"}
						<a href="{:url('index/Categorys/index',array('id'=>$vo_erji.id))}"><li class="filter {if $id==$vo_erji.id} hover{/if}">{$vo_erji.cate_name}</li></a>
					{/volist}
				</ul>
			</dd>
		</dl>
		{/volist}
	</div>
</div>	

<div class="wcp_wrap clearfix">
			<div class="produ-selection w">
				<div class="produ-lists w">
					{if $count !=0}
					<!--遍历商品-->
					{volist name="goods" id="vo_goods"}
					<div class="produ-box">
						<div class="produ-box-content">
							<a target="_blank" class="produ-img" href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}">
								<img alt="{$vo_goods.goods_name}" width="100%"  src="/static/uploads/{$vo_goods.og_thumb}" style="display: inline;">
								<div class="overburden"></div></a>
							<div class="produ-classes">
								<a class="prev hidden" href="javascript:;"></a>
								<div>
									<ul>
										<?php $images = $vo_goods['images']; ?>
										{volist name="images" id="vo_images"}
										<li class="current">
											<a data-info="/{$vo_images.img_path}">
												<img class="loading" src="/{$vo_images.img_path}" style="display: inline;">
											</a>
										</li>
										{/volist}
									</ul>
								</div>
								<a class="next hidden" href="javascript:;"></a>
							</div>
							<span class="produ-info">{$vo_goods.goods_name|subtext=30}</span>

							<span class="produ-price-info ">&yen; <span class="produ-price">{$vo_goods.shop_price}</span></span>
							<span class="produ-buy-now">
								<div class="buy-now color-white section">
									<p><a target="_blank" gid="9" class="buy-now-btn buy-now-btn-1 buy-now-btn-1b">立刻购买</a></p>
								</div>
							</span>
						</div>
					</div>
					{/volist}
					{else}
					<div id="snp" class="snPages">
						(>﹏<) 没有产品
					</div>
					{/if}
					<!--遍历商品end-->
					</div>
			</div>

</div>

	<!--底部-->
	{include file='public/footer'}


<script>
 var navtoTop = $(".nav").offset().top + $(".nav").height();
    var topNavTop = $(".nav").offset().top;
    $(".right-sidebar").css('top', topNavTop + 'px');
    $(".go-to-top").fadeOut(100);
    
    $(window).scroll(function() {
        var scrollHeight = $(window).scrollTop();
        if (scrollHeight <= navtoTop) {
            $(".right-sidebar").css('top', topNavTop + 'px');
            $(".nav").removeClass("fixed-nav");
            $(".go-to-top").fadeOut(100);
            $(".right-sidebar .account-box").css('bottom', topNavTop + 'px');
            $(".sidebar-box .like-show-more,.sidebar-box .saw-show-more").css('margin-bottom', topNavTop * 2 + 'px');
        } else if (scrollHeight > navtoTop) {
            $(".right-sidebar").css('top', '0px');
            $(".nav").addClass("fixed-nav");
            $(".go-to-top").fadeIn(100);
            $(".right-sidebar .account-box").css('bottom', '0');
            $(".all-styles-tab").hide();
            
            $(".fixed-nav .main-nav .all-styles").hover(function() {
                $(this).find(".all-styles-tab").show();
            },
            function() {
                $(this).find(".all-styles-tab").hide();
            });
            $(".sidebar-box .like-show-more,.sidebar-box .saw-show-more").css('margin-bottom', topNavTop + 'px');
        }
    });	
	     	
</script>
	



	
<div class="right-sidebar clearfix">
	<div class="sidebar-list">
		
		<div onclick="get_cart_list();" box="cart_box" class="sidebar-item box user-cart-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-txt">购物车</div>
		
		</div>
		
		<div onclick="get_bonus_card();" box="bonus_card_box" class="sidebar-item box user-bonus-card-box">

			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">优惠券<div class="sidebar-icon">◆</div></div>
		</div>
		
		<div onclick="get_like_data();" box="like_box" class="sidebar-item box user-like-box">

			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">我的收藏<div class="sidebar-icon">◆</div></div>
		</div>
		<div onclick="get_look_data();" box="saw_box" class="sidebar-item box user-saw-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">最近浏览<div class="sidebar-icon">◆</div></div>
		</div>
		<div class="sidebar-item user-tel-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">
				服务时间:9~22点<br><span>400-881-8283</span>
				<div class="sidebar-icon">◆</div>
			</div>
		</div>
		<div class="sidebar-item user-service-box current">
			<div class="sidebar-logo"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1093157171&amp;site=qq&amp;menu=yes" target="_blank"></a></div>
			<div class="sidebar-tab-tip"><a style="color:#fff;" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1093157171&amp;site=qq&amp;menu=yes" target="_blank">在线客服</a><div class="sidebar-icon">◆</div></div>
		</div>
		<div class="sidebar-item user-qrcode-box">
			<div class="sidebar-logo"></div>
			<div class="sidebar-tab-tip">
				<div class="qrcode-img"><img src="/static/index/picture/qrcode-125x125_1.jpg"></div>
				<div class="sidebar-icon">◆</div>
			</div>
		</div>
		<a class="go-to-top" href="javascript:;"></a>			
	</div>
	
	
	
	<div class="sidebar-box">
		
		
		
		<div id="cart_box" class="sidebar-cart-box sidebar-box-item hide">
			
			<h3 class="saw-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>购物车</span>
			</h3>
			<div class="cart-table-box">
			<table class="cart-table">
				<tbody>
					
				</tbody>
			</table>
			</div>
			<div class="account-box hide">
				
				<a class="to-settlement" href="/checkout/goods/all">去结算</a>
			</div>
			
			
			<div class="tip-text hide">
			
				购物车空空的，赶快去挑选心仪的商品吧~
				<a href="/categorys">去看看吧</a>
			</div>
		</div>
		
		<div id="bonus_card_box" class="sidebar-like-box sidebar-box-item hide">
			<h3 class="like-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>我的优惠券</span>
			</h3>
			
			<div id="bonus_card_html">
				
	       		
				
			</div>	
		</div>
		
		
		<div id="like_box" class="sidebar-like-box sidebar-box-item hide">
			<h3 class="like-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>我的收藏</span>
			</h3>
		<div class="like-content hide">
	          
	           <ul class="like-lists clearfix">
               </ul>
              <a  class="like-show-more show-more-item" href="/member/wishlist/index"><span>查看更多</span><i></i></a>
       </div>
			<div class="like-alert anta-alert hide">
				<p class="title">提示：</p>
				<p class="content">您还没有登录哦~立即登录看看</p>
				<a class="ensure" onclick="go_login()">确定</a>
			</div>
			<div class="tip-text hide">
				收藏夹空空的，赶快去挑选心仪的商品吧~
				<a href="/categorys">去看看吧</a>
			</div>
		</div>
		

		
		<div id="saw_box" class="sidebar-saw-box sidebar-box-item hide">
			<h3 class="saw-title clearfix">
				<a class="title-close sidebar-box-close" href="javascript:;"></a><span>最近浏览</span>
			</h3>
			<div class="saw-content">
               <span class="saw-total"><span class="saw-total-num">0</span>件商品</span>
               
            </div>
			<div id="look_content" class="saw-content hide">
               <span class="saw-total"><span class="saw-total-num">0</span>件商品</span><a class="saw-clean" onclick="clear_look()" href="javascript:;">清空</a>
               <ul class="saw-lists clearfix">
               </ul>
            
            </div>
			
			
		</div>
	</div>
</div>
<script>

function go_login(){
	$(".right-sidebar .sidebar-item").parent().parent().animate({right: "-280px"});
    flag = 0;
    location='/login';
}

var cur_action=null;
var last_action=null;
var flag=0;
//滑动动画
function right_sidebar_animate(id){
	
	cur_action=id;
	
	if(cur_action==id&&flag==0){	
		 last_action=id;		 
		 $('.right-sidebar').animate({right: "0px"},600);
         $('.sidebar-box-item').addClass("hide");
         $('#'+id).removeClass("hide");
         flag=1
	}else if(cur_action==last_action&&flag==1){
		$('.right-sidebar').animate({right: "-280px"},'fast');
		cur_action=null;
		last_action=null;
		flag=0;		
		return;
	}else if(last_action!=cur_action){		
		flag=1;	
		last_action=id;		
		$('.sidebar-box-item').addClass("hide");
        $('#'+id).removeClass("hide");			
	}
}
//关闭右边栏菜单
$('.sidebar-box-close').click(function(){
	cur_action=null;
	last_action=null;
	flag=0;	
	$('.right-sidebar').animate({right: "-280px"},'fast');	
});

//优惠券列表
function get_bonus_card(){
	
	var id=$('.user-bonus-card-box').attr('box');
	
	right_sidebar_animate(id);	
	
	if(flag==1)
	$.ajax({
			url: '/Api/Home/bonus_card_list',			
			dataType: 'html',
		
			beforeSend: function() {
				$('#bonus_card_html').html('<div id="bc_loading">加载中 <img src="/static/index/picture/loading-1_1.gif" /></div>');
			},
			complete: function() {
				
			},
			success: function(html) {
				
				setTimeout(function (){
						$('#bonus_card_html').html(html);
				}, 500);	
				
			}
	});

}
/*领取优惠券*/
$('.get_button').live('click', function() {
	
	$.ajax({
			url: '/Api/Home/get_bonus_card',	
			data:{
				id:$(this).attr('bc_id')
			},		
			dataType: 'json',
			type: 'post',		
			beforeSend: function() {
				$('#bonus_card_html').html('<div id="bc_loading">加载中 <img src="/static/index/picture/loading-1_1.gif" /></div>');
			},
			complete: function() {
				
			},
			success: function(d) {
				
				if(d.error){
					alert(d.error);
				}else{
					$.ajax({
							url: '/Api/Home/bonus_card_list',			
							dataType: 'html',
						
							beforeSend: function() {
								
							},
							complete: function() {
								
							},
							success: function(html) {
								
								$('#bonus_card_html').html(html);
								
							}
					});
				}
				
			}
	});
});

//最近浏览的商品
function get_look_data(){
	
	var id=$('.user-saw-box').attr('box');
	
	right_sidebar_animate(id);	
	if(flag==1)
	$.ajax({
			url: '/Api/Home/get_look_data',			
			dataType: 'json',
			type: 'post',
			beforeSend: function() {
				
			},
			complete: function() {
				
			},
			success: function(data) {
				
				if(data.success){		
																		
					var result = '';
		            if (data.count == 0) {
		                $("#saw_box .tip-text").removeClass("hide");
		            }else{
		            	
		            	$('.saw-total-num').text(data.count);
		            	$('.saw-content').addClass('hide');
		            	
		            	$('#look_content').removeClass("hide");
		            	
		            	 $.each(data.list,
			            function(i, item) {
			                result += '<li><a href="' + item.url + '" target="_blank"><img src="' + item.image + '" alt="' + item.name + '"><p>￥' + item.price + '</p></a></li>';
			            });
			            $("#look_content ul").html(result);
		            }
		        }else{
		        	
		        	if(data.error=='no_login'){
		        		$('#saw_box .like-alert').removeClass('hide');
		        	}	        	
		        	
		        } 
				
			}
	});	
}
//收藏的商品
function get_like_data(){
	
	var id=$('.user-like-box').attr('box');
	
	right_sidebar_animate(id);	
	if(flag==1)
	$.ajax({
			url: '/Api/Home/get_like_list',			
			dataType: 'json',
			type: 'post',
			beforeSend: function() {
				
			},
			complete: function() {
				
			},
			success: function(data) {
				
				if(data.success){		
																		
					var result = '';
		            if (data.count == 0) {
		                $("#like_box .tip-text").removeClass("hide");
		            }else{
		            	
		            	
		            	$('#like_box .like-content').removeClass("hide");
		            	
		            	 $.each(data.list,
			            function(i, item) {
			                result += '<li><a href="' + item.url + '" target="_blank"><img src="' + item.image + '" alt="' + item.name + '"><p>￥' + item.price + '</p></a></li>';
			            });
			            $("#like_box .like-content ul").html(result);
		            }
		        }else{
		        	
		        	if(data.error=='no_login'){
		        		$('#like_box .like-alert').removeClass('hide');
		        	}	        	
		        	
		        } 
				
			}
	});
}	
//购物车商品
function get_cart_list(){
	
	var id=$('.user-cart-box').attr('box');
	
	right_sidebar_animate(id);	
	if(flag==1)
	$.ajax({
			url: '/Api/Home/get_cart_list',			
			dataType: 'json',
			type: 'post',
			beforeSend: function() {
				
			},
			complete: function() {
				
			},
			success: function(data) {
				
										
					var result = '';
		            if (data.count == 0) {
		                $(".sidebar-cart-box .tip-text").removeClass("hide");
		                $(".sidebar-cart-box .cart-table-box,.sidebar-cart-box .account-box").addClass("hide");
		                return false;
		            }else{
		            	$('#cart_box .tip-text').addClass("hide");
		            	$(".cart-table-box").removeClass("hide");
		            	$('.account-box').removeClass("hide");
		            }
		         
		            $.each(data.list,
		            function(i, item) {
		                result += '<tr id="' + item.cart_id + '">' 
		                
		                + '<td width="60"><a href="' 
		                + item.url + '" target="_blank" class="right-sidebar-img"><img src="' 
		                + item.image + '" alt="' + item.name + '"></a></td>' 
		                + '<td width="70"><span class="right-sidebar-title">' 
		                + item.name + '</span></td>' 
		                + '<td width="65"><div class="num-box"><a href="javascript:;" onclick="rchangeQty(0,\''+item.cart_id+'\');" class="num-op num-minus hidden">-</a><span class="num">' 
		                + item.quantity + '</span><a href="javascript:;" onclick="rchangeQty(1,\''+item.cart_id+'\');" class="num-op num-add hidden">+</a></div></td>' 
		                + '<td width="60"><a href="javascript:;" onclick="remove_cart(\''+item.cart_id+'\');" class="delete-item hidden">x</a><span class="num-price">' 
		                +'￥'+item.price + '</span></td>' + '</tr>';
		            });
		            $(".sidebar-cart-box .cart-table-box").find("tbody").html(result);
					
					
					$(".sidebar-box .cart-table tr").each(function() {
					    $(this).hover(function() {
					        $(this).find(".num-op").removeClass("hidden");
					        $(this).find(".delete-item").removeClass("hidden");
					    },
					    function() {
					        $(this).find(".num-op").addClass("hidden");
					        $(this).find(".delete-item").addClass("hidden");
					    });
					});	
				
			}
	});	
}
//更新购物车商品数量
function rchangeQty(increase,cart_id) {
	
    var quantity = parseInt($('#'+cart_id).find('.num').text());  

    if (!isNaN(quantity) ) {
    	//增加
		if(increase){		
			quantity++;			
		}else{
			quantity--;		
		}   
		$.post(			
			'/api/Home/update_cart',
			{quantity:quantity,cart_id:cart_id},
			function(json){					
				$('#'+cart_id).find('.num').html(json.quantity);
				$('.cart-num').text('( '+json.total_quantity+' )');
			}
		); 
    }
}		
//删除购物车商品
function remove_cart(cart_id){
	
	var f=confirm('确认要删除该商品吗？');
	
	if(f==false){
		return false;
	}
	
	$.post(
		'/api/Home/remove_cart',	
		{cart_id:cart_id},	
		function(json){			
			
			if (json.success) {				
				
				$('#' + cart_id).remove();
				
				$('#'+cart_id).find('.num').html(json.quantity);
				
				$('.cart-num').text('( '+json.quantity+' )');				
				
				if(json.quantity==0){				
					$('.cart-table-box').addClass('hide');
					$('.account-box').addClass('hide');
					$('#cart_box .tip-text').removeClass('hide');
				}
				
				
			}else if(json.error){
				
				alert(json.error);		
				
			}	
		}
	);
}
//清空浏览记录
function clear_look(){
	
	var f=confirm('确认要清空浏览记录吗？');
	
	if(f==false){
		return false;
	}
	
	$.ajax({
			url: '/Api/Home/clear_look',			
			dataType: 'json',
			type: 'post',
			beforeSend: function() {
				
			},
			complete: function() {
				
			},
			success: function(data) {					
				$('#look_content').addClass("hide");
				$('.saw-content	').removeClass("hide");	
				$('.saw-total-num').text(0);
			}
	});
}

$(".right-sidebar .sidebar-item").each(function() {
	
    $(this).hover(function() {
        $(this).addClass("current");
    },
    function() {
        $(this).removeClass("current");
    });
   
});
//回到顶部
$(".go-to-top").click(function() {
			$('body,html').animate({
				scrollTop: 0
			},
			"fast");
			return false;
	}); 	
</script>

<script src="/static/index/js/common_1.js"></script>

<script>
	$('.more').click(function(){
		var obj = $(this);
        if (obj.parents('.selector_line').attr('name') != undefined) {
            return false;
        };
        if (obj.hasClass('current')) {
            obj.removeClass('current');
            obj.parents('.selector_line').removeClass('selected').find('.more').html('更多<i></i>');
            $('.selector_more').find('span').removeClass('current').html('更多<i></i>');
        } else {
            obj.addClass('current');
            obj.parents('.selector_line').addClass('selected').find('.more').html('收起<i></i>');
            $('.selector_more').find('span').addClass('current').html('收起<i></i>');
        }
	});

/******产品********/
	$(".produ-box .produ-classes>a").each(function() {
        $(this).click(function() {
            var lengths = $(this).parent().find("ul li").length;
            var currentStart, currentEnd, srcStr;
            for (var i = 0; i < lengths; i++) {
                if ($(this).parent().find("ul li").eq(i).hasClass("current")) {
                    currentStart = i;
                    break;
                }
            }
            currentEnd = currentStart + 4;
            if ($(this).hasClass("prev")) {
                if (currentStart > 0) {
                    $(this).parent().find("ul li").eq(currentStart - 1).removeClass("hide").addClass("current");
                    $(this).parent().find("ul li").eq(currentEnd).removeClass("current").addClass("hide");
                    srcStr = $(this).parent().find("ul li").eq(currentStart - 1).attr("data-info");
                    $(this).parent().parent().find(".produ-img img").attr("src", srcStr);
                }
            } else if ($(this).hasClass("next")) {
                if (currentEnd < (lengths - 1)) {
                    $(this).parent().find("ul li").eq(currentEnd + 1).removeClass("hide").addClass("current");
                    $(this).parent().find("ul li").eq(currentStart).removeClass("current").addClass("hide");
                    srcStr = $(this).parent().find("ul li").eq(currentStart + 1).attr("data-info");
                    $(this).parent().parent().find(".produ-img img").attr("src", srcStr);
                }
            }
        })
    });
    $(".produ-classes ul li.current a").each(function() {
        var srcStr, $img;
        $img = $(this).parent().parent().parent().parent().parent().find(".produ-img img");
        srcStr = $img.attr("src");
        $(this).hover(function() {
            $img.attr("src", $(this).attr("data-info"));
        },
        function() {
            $img.attr("src", srcStr);
        })
    });
    $(".produ-classes ul").each(function() {
        var lengths1 = $(this).find("li").length;
        if (lengths1 <= 5) {
            $(this).parent().siblings("a.prev").addClass("hidden");
            $(this).parent().siblings("a.next").addClass("hidden");
        } else {
            $(this).parent().siblings("a.prev").removeClass("hidden");
            $(this).parent().siblings("a.next").removeClass("hidden");
        }
    });	
 
/********选择筛选项**********/
function get_url_attr(name) {
	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
	var r = window.location.search.substr(1).match(reg);
	if (r != null) return unescape(r[2]); return null;
}   	   
    
var filter=get_url_attr('f');
var p='';
var id='';
if(filter){	 
	 var ch = new Array;
	 ch = filter.split(",");
		 		 
	 for(i=0;i<ch.length;i++){		  
		$('#f'+ch[i]).addClass('hover');		
		$('#f'+ch[i]).parent().parent().parent().removeClass('selected');
		$('#f'+ch[i]).parent().parent().parent().addClass('selected');
	 }
}
$(function(){
	$('.filter').click(function(){

		if(filter){
			if($(this).hasClass('hover')){
				$(this).removeClass('hover');
			}else{
				$(this).siblings().removeClass('hover')
				$(this).addClass('hover');
			}
		}else{
				$(this).addClass('hover');
		}
		
		var length=$('#filter li.hover').size();	
		
		if(p){
			var url = "/category"+'/'+id+'/p/'+p;	
		}else{
			if(id){
				var url = "/category"+'/'+id;	
			}else{
				var url = "/categorys";	
			}
		}
		var param='?f=';
	
		
		$('#filter li.hover').each(function(i){
			
			if(i<length-1){
				param+=$('#filter li.hover').eq(i).attr('fid')+',';
			}else{
				param+=$('#filter li.hover').eq(i).attr('fid');
			}
			
		});
		
		url+=param;
		
		window.location.href = url;		
	});

	var sort=get_url_attr('sort');
	
	if(sort){	
		$('#'+sort).siblings('a').removeClass('current');
		$('#'+sort).addClass('current');
	}
	
	$('#sort_order a').click(function(){
		var sort=$(this).attr('id');
		var f=get_url_attr('f');		
		
		if(p){
			var url = "/category"+'/'+id+'/p/'+p;	
		}else{
			if(id){
				var url = "/category"+'/'+id;	
			}else{
				var url = "/categorys";	
			}
		}
		
		if(f){
			url+='?f='+f;
			var param='&sort='+sort;
		}else{
			var param='?sort='+sort;
		}		
		
		url+=param;
		
		window.location.href = url;	
	});
	$('.buy-now-btn').click(function(){
		
		var gid=$(this).attr('gid');
		
		var url="/index/Goods/get_spec"+"/gid/"+gid;
		
		art.dialog.open(url, {
						title:'商品规格',
						id:'spec',						
						lock: true
		});
	});
});    
</script>

</html>