<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>PHPMall-{$title}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index/css/base_2.css" />
    <link rel="stylesheet" href="/static/index/css/member.css" />
    <script src="/static/index/js/jquery-migrate-1.2.1.min_2.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/layer/layer.js"></script>

</head>
<body>
<div class="com-top-nav w">
    <div class="wcp-wrap">
    </div>
</div>