<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6c7;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/Goods/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('admin/Brand/index')}">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>品牌列表</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <li>
                        <a _href="{:url('admin/Category/index')}">
                        <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('index/personnel/authorityClass')}">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>商品类型</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/personnel/authorityClass')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>商品属性</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <li>
                        <a _href="{:url('admin/Recommend/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>推荐位管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/personnel/authorityClass')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品回收站</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe61c;</i>-->
                    <!--<cite>栏目管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/bill/customerBill')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>推荐词关联</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/bill/readyMoneyBill')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>品牌关联</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/bill/companyBill')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>左图关联</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe603;</i>-->
                    <!--<cite>促销管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/storehouse/delivery')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>团购活动</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/storehouse/purchase')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>积分商城</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/storehouse/purchase')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>优惠券</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/blueprint/blueprintInfo')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/blueprint/blueprintInterior')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单查询</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe647;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/task/inTask')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/alreadyTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>会员等级</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <li>
                        <a _href="{:url('index/task/classes')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员留言</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe661;</i>-->
                    <!--<cite>导航管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/inTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>导航列表</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe629;</i>
                    <cite>数据库管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('index/task/inTask')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>数据库备份</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/inTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>数据库优化</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe611;</i>-->
                    <!--<cite>短信管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/inTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>发送短信</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/inTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>短信签名</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe60f;</i>
                    <cite>文章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/Cate/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>栏目列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('admin/Article/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe662;</i>
                    <cite>图片管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/System/imgList')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图片列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('index/task/inTask')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>轮播图管理</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6df;</i>
                    <cite>系统设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/Link/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>友情链接</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('index/task/inTask')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>系统配置</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <li>
                        <a _href="{:url('admin/Conf/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>配置管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('admin/Conf/confList')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>配置项</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->