<!--顶部-->
{include file='public/head'}
<body>
	<div class="com-top-nav w">
	<div class="wcp-wrap">
	</div>
</div>
<!--头部-->
	{include file='public/header'}
<!--轮播图-->
	{include file='public/swiper-container'}

<div class="series-nav w-full">
	<!--最新商品-->
	{include file='public/series-nav'}
</div>

<div class="produ-selection w">
	<div class="produ-lists w">
		<!--商品列表-->
		{volist name="countGoods" id="vo_count_goods"}
		<div class="produ-box">
						<div class="produ-box-content">
							<a target="_blank" class="produ-img" href="{:url('index/Goods/index',array('id'=>$vo_count_goods.id))}" >
								<img alt="{$vo_count_goods.goods_name}" width="100%"  src="/static/uploads/{$vo_count_goods.og_thumb}" style="display: inline;">
								<div class="overburden"></div></a>
								<div class="produ-classes">
								<a class="prev hidden" href="javascript:;"></a>
								<div>
									<ul>
										<?php $images = $vo_count_goods['images']; ?>
										{volist name="images" id="vo_images"}
										<li class="current">
											<a data-info="/{$vo_images.img_path}">
												<img class="loading" src="/{$vo_images.img_path}" style="display: inline;">
											</a>
										</li>
										{/volist}
									</ul>
								</div>
								<a class="next hidden" href="javascript:;"></a>
							</div>
							<span class="produ-info">{$vo_count_goods.goods_name|subtext=30}</span>

							<span class="produ-price-info ">&yen; <span class="produ-price">{$vo_count_goods.shop_price}</span></span>
							<span class="produ-buy-now">
								<div class="buy-now color-white section">
									<p><a target="_blank" href="{:url('index/Goods/index',array('id'=>$vo_count_goods.id))}" class="buy-now-btn buy-now-btn-1 buy-now-btn-1b">立刻购买</a></p>
								</div>
							</span>
						</div>
					</div>
		{/volist}
		<!--商品列表end-->

	</div>

</div>

<div class="select-more color-white section">
			<p><a href="{:url('index/Categorys/index',array('id'=>0))}" target="_blank" class="select-more-btn select-more-btn-1 select-more-btn-1b">选购更多商品&nbsp;&nbsp;»</a></p>
</div>

<!--底部-->
	{include file='public/footer'}
<script src="/static/index/js/common_1.js"></script>

<link rel="stylesheet" href="/static/index/css/swiper.min_1.css">
<script src="/static/index/js/swiper.jquery.min_1.js"></script>
<script>
$(document).ready(function() {
var mySwiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay: 6000,
        simulateTouch: false,
        speed: 300,
        loop: true,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        paginationBulletRender: function(swiper, index, className) {
            var strs = new Array();
            for (var i = 0; i < $(".swiper-container .swiper-wrapper").find("div.swiper-slide").length; i++) {
                strs[i] = $(".swiper-container .swiper-wrapper").find("div.swiper-slide").eq(i).find("a").attr("title");
            }
            return '<span class="' + className + '">' + strs[index + 1] + '</span>';
        }
    });
});

$(".produ-classes ul li.current a").each(function() {
        var srcStr, $img;
        $img = $(this).parent().parent().parent().parent().parent().find(".produ-img img");
        srcStr = $img.attr("src");
        $(this).hover(function() {
            $img.attr("src", $(this).attr("data-info"));
        },
        function() {
            $img.attr("src", srcStr);
        })
    });
    $(".produ-classes ul").each(function() {
        var lengths1 = $(this).find("li").length;
        if (lengths1 <= 5) {
            $(this).parent().siblings("a.prev").addClass("hidden");
            $(this).parent().siblings("a.next").addClass("hidden");
        } else {
            $(this).parent().siblings("a.prev").removeClass("hidden");
            $(this).parent().siblings("a.next").removeClass("hidden");
        }
    });

</script>

</html>