<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>订单管理-艺创陶瓷</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="stylesheet" href="/static/index/css/base_2.css" />
	<link rel="stylesheet" href="/static/index/css/member.css" />
	<script src="/static/user/js/jquery-2.1.4.min_2.js"></script>
	<script src="/static/index/js/jquery-migrate-1.2.1.min_2.js"></script>

</head>
<body>
	<div class="com-top-nav w">
	<div class="wcp-wrap">
	</div>
</div>

	<!--头部-->
	{include file='index@public/header'}

<div id="member_content">
	<div class="w clearfix">
		<div id="mem_menu">
<h1>会员中心</h1>	
	<h2 class="title">我的订单</h2>
			<ul class="sline">
		   
			<li>
				<a href="http://www.91ycc.com/member/order_member/index">订单管理</a>
			</li>
			<li>
				<a href="http://www.91ycc.com/member/comment/index">我的评价</a>
			</li>
			<li>
				<a href="http://www.91ycc.com/member/predeposit/index">我的余额</a>
			</li>
		   
			<li>
				<a href="http://www.91ycc.com/member/message/index">我的消息</a>
			</li>
				</ul>
		<h2 class="title">个人资料</h2>
			<ul class="sline">
		   
			<li>
				<a href="http://www.91ycc.com/member/account/password">修改密码</a>
			</li>
		   
			<li>
				<a href="http://www.91ycc.com/member/account/address">收货地址</a>
			</li>
				</ul>
		<h2 class="title">客户服务</h2>
			<ul class="sline">
		   
			<li>
				<a href="http://www.91ycc.com/member/aftersales/index">售后服务</a>
			</li>
				</ul>
	</div>
<script src="/static/index/js/jquery.lavalamp.min.js"></script>
<script>
$(function(){
	//边栏菜单的伸缩效果
	$("#mem_menu h2").click(function(){
		var sidebar_dd = $(this).next("ul");
		if(!sidebar_dd.is(":animated")){
			$(this).toggleClass("open");
			sidebar_dd.slideToggle("slow");	
		}	
	});	
	
	//边栏菜单选中效果	
	var crumbs_name='订单管理';
	$(".sline li a").each(function(){			
		var href_name=$.trim($(this).text());	
		if(href_name==crumbs_name){				
			 $(this).addClass('current');		 	 
		}
	});	 	
	
	//面包屑导航下划线滑动效果
	if($('#top-tag')){
		
		$('#top-tag').lavalamp({
			easing: 'easeOutBack'
		});	
		
		var v =$('#top-tag li.on').index();
		
		var a = $('#top-tag').children('.lavalamp-item').eq(parseFloat(v)-1);		
		$('#top-tag').data('lavalampActive',a).lavalamp('update');	
	}
});
</script>
		<div id="right_content">
			<div id="member-nav" class="clearfix">
				<ul id="top-tag" class="order-list">
					<li class="fl  on " >
							<a href="/member/order_member/index">
								全部订单
							</a>
					</li>
					<li class="fl ">
						<a href="/member/order_member/status/status/3">待付款订单
													</a>
					</li>
					<li class="fl ">
						<a href="/member/order_member/status/status/4">待确认收货
												</a>
					</li>
					<li class="fl ">
						<a href="/member/order_member/status/status/6">待评价商品
												</a>
					</li>
					
				</ul>
				<form action="/member/order_member/index" method="GET">								
					<input value="" name="order_num" placeholder="输入订单编号" type="text">
					<input value="" type="submit">
			   	</form>
			</div>
			
			<div class="title">
				<i class="i1">订单商品</i>
				<i class="i2">收货人</i>
				<i class="i3">金额</i>
				<i class="i4">商品操作</i>
				<i class="i5">
						<div class="select" style="width:86px">
							<p>							
																全部状态
															</p>
							<ul>
								<li value="1"><a href="/member/order_member/index">全部状态</a></li>
								<li value="2"><a href="/member/order_member/status/status/3">等待付款</a></li>
								<li value="3"><a href="/member/order_member/status/status/4">等待收货</a></li>
								<li value="4"><a href="/member/order_member/status/status/7">已完成</a></li>
								<li value="5"><a href="/member/order_member/status/status/5">已取消</a></li>
							</ul>
						</div>	
				</i>
				<i class="i6">交易操作</i>
			</div>
			<div id="empty">没有数据</div>			
			<div class="page"></div>
						
		</div>
	</div>
</div>



	{include file='index@public/footer'}


</body>



</html>