
{include file='public/top'}

	<!--头部-->
	{include file='index@public/header'}

<div id="member_content">
	<div class="w clearfix">
		{include file='public/mem_menu'}
		<script src="/static/index/js/jquery.lavalamp.min.js"></script>
<script>
$(function(){
	//边栏菜单的伸缩效果
	$("#mem_menu h2").click(function(){
		var sidebar_dd = $(this).next("ul");
		if(!sidebar_dd.is(":animated")){
			$(this).toggleClass("open");
			sidebar_dd.slideToggle("slow");	
		}	
	});	
	
	//边栏菜单选中效果	
	var crumbs_name='订单管理';
	$(".sline li a").each(function(){			
		var href_name=$.trim($(this).text());	
		if(href_name==crumbs_name){				
			 $(this).addClass('current');		 	 
		}
	});	 	
	
	//面包屑导航下划线滑动效果
	if($('#top-tag')){
		
		$('#top-tag').lavalamp({
			easing: 'easeOutBack'
		});	
		
		var v =$('#top-tag li.on').index();
		
		var a = $('#top-tag').children('.lavalamp-item').eq(parseFloat(v)-1);		
		$('#top-tag').data('lavalampActive',a).lavalamp('update');	
	}
});
</script>
		<div id="right_content">
			<div id="member-nav" class="clearfix">
				<ul id="top-tag" class="order-list">
					<li class="fl  on " >
							<a href="/member/order_member/index">
								全部订单
							</a>
					</li>
					<li class="fl ">
						<a href="/member/order_member/status/status/3">待付款订单
													</a>
					</li>
					<li class="fl ">
						<a href="/member/order_member/status/status/4">待确认收货
												</a>
					</li>
					<li class="fl ">
						<a href="/member/order_member/status/status/6">待评价商品
												</a>
					</li>
					
				</ul>
				<form action="/member/order_member/index" method="GET">								
					<input value="" name="order_num" placeholder="输入订单编号" type="text">
					<input value="" type="submit">
			   	</form>
			</div>
			
			<div class="title">
				<i class="i1">订单商品</i>
				<i class="i2">收货人</i>
				<i class="i3">金额</i>
				<i class="i4">商品操作</i>
				<i class="i5">
						<div class="select" style="width:86px">
							<p>							
																全部状态
															</p>
							<ul>
								<li value="1"><a href="/member/order_member/index">全部状态</a></li>
								<li value="2"><a href="/member/order_member/status/status/3">等待付款</a></li>
								<li value="3"><a href="/member/order_member/status/status/4">等待收货</a></li>
								<li value="4"><a href="/member/order_member/status/status/7">已完成</a></li>
								<li value="5"><a href="/member/order_member/status/status/5">已取消</a></li>
							</ul>
						</div>	
				</i>
				<i class="i6">交易操作</i>
			</div>
			<div id="empty">没有数据</div>			
			<div class="page"></div>
						
		</div>
	</div>
</div>
	{include file='index@public/footer'}
</body>



</html>