{include file="public/header" /}
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">商品管理</a>
        <a>
          <cite>品牌管理</cite>
        </a>
      </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<div class="x-body" >
  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="layui-btn" onclick="x_admin_show('添加用户','{:url(\'admin/brand/add\')}',500,550)"><i class="layui-icon"></i>添加</button>

    <div class="layui-input-inline">
      <!--<input type="tel" id="findText" lay-verify="required|phone" autocomplete="off" placeholder="请输入关键字..." class="layui-input">-->
      <form class="layui-form" action="{:url('index/Blueprint/blueprintInfo')}" method="post">
        <div class="layui-input-inline">
          <select name="modules" lay-verify="required" lay-search="" id="findText">
            <option value="">请输入关键字...</option>
            <optgroup label="外图明细">

            </optgroup>

            <optgroup label="公司编号">

            </optgroup>

            <optgroup label="外图编号">

            </optgroup>

          </select>
        </div>
        <button type="submit" class="layui-btn"  lay-submit="" lay-filter="sreach" id="find"><i class="layui-icon">&#xe615;</i></button>
      </form>
    </div>

    <script>
      $(function () {
          $("#find").click(function () {
              var findText = $("#findText").val();
              if(findText.length > 1){
                  window.location.href="{:url('index/blueprint/blueprintInfo')}";
              }else{
                  layer.msg('请输入查找的关键字!',{icon:0,time:2000});
              }

          });
      })
    </script>
  </xblock>
  <div class="">
    <div class="box-1">
      <table class="layui-table" align="center">
      <thead >
      <tr class="text-c" >
        <th width="10" style="text-align: center">
          <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
        </th>
        <th style="text-align: center" width="80">品牌名称</th>
        <th style="text-align: center" width="100">品牌地址</th>
        <th style="text-align: center" width="40">品牌LOGO</th>
        <th style="text-align: center" width="20">品牌状态</th>
        <th style="text-align: center" width="50" >排序</th>
        <th style="text-align: center" width="50">操作</th>
      </tr>
      </thead>
      <tbody>
      {volist name="brandInfo" id="info"}
      <tr  style="text-align: center">
        <td>
          <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id=''><i class="layui-icon">&#xe605;</i></div>
        </td>
        <td>{$info.brand_name}</td>
        <td>brand_url</td>
        <td>
          {if $info.brand_logo !=null}
             <img src="/static/uploads/{$info.brand_logo}" width="40">
          {else}
             暂无缩略图
          {/if}
        </td>
        <td>
          {if $info.status == 1}
            <button class="layui-btn layui-btn-xs" onclick="update_status(this,'{$info.id}','{$info.status}')" >启用</button>
          {else}
            <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="update_status(this,'{$info.id}','{$info.status}')">禁用</button>
          {/if}
        </td>
        <td>
          <div class="layui-input-inline listorder" style="width: 50px;">
            <input type="text" value="{$info.sort}" size="5" attr-id="{$info.id}" class="layui-input"  name="listorder" >
          </div>
        </td>
        <td class="td-manage" width="10">
          <div class="layui-input-inline" >
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"  onclick="x_admin_show('修改品牌','{:url(\'admin/brand/edit\',[\'id\'=>$info.id])}',500,550)"><i class="layui-icon layui-icon-edit"></i>编辑</a><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" onclick="delete_brand(this,'{$info.id}','{$info.brand_logo}')"><i class="layui-icon layui-icon-delete"></i>删除</a>
          </div>
        </td>
      </tr>
      {/volist}
      </tbody>
    </table>
    </div>
  </div>
  <div class="page">
    {$brandInfo|raw}
  </div>
  <script>
    //排序
    $(".listorder input").blur(function () {
        var listorder =  $(this).val();
        var id = $(this).attr('attr-id');
        var url = "{:url('/admin/brand/updateSort')}";
        var postData ={"id":id,"listorder":listorder};
        $.post(url,postData,function (result) {
            if(result == 1 ){
                layer.alert("更新成功", {icon: 6},function () {
                    window.location.reload();  //刷新父级页面
                });
            }else {
                layer.alert("更新失败", {icon: 5});
            }
        },"json")
    });

      layui.use('laydate', function(){
          var laydate = layui.laydate;
          //执行一个laydate实例
          laydate.render({
              elem: '#start' //指定元素
          });

          //执行一个laydate实例
          laydate.render({
              elem: '#end' //指定元素
          });
      });
      //更改状态
      function update_status(obj,id,status) {
          layer.confirm('确定要更改状态吗？',function(index){
              $.ajax({
                  url:"{:url('admin/brand/updateStatus')}",
                  type:"POST",
                  dataType:"json",
                  data:{
                      id:id,  //id
                      status:status   //状态
                  },
                  success:function (res) {
                    if (res === 1){
                        layer.alert("更新成功", {icon: 6},function () {
                            window.location.reload();  //刷新父级页面
                        });
                    }else {
                        layer.alert("更新失败", {icon: 5});
                    }
                  }
              });
          });

      }
      /*用户-删除*/
      function delete_brand(obj,id,img_path){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  url:"{:url('admin/brand/deleteBrand')}",
                  type:"POST",
                  dataType:"json",
                  data:{
                      id:id,  //id
                      img_path:img_path
                  },
                  success:function (res) {
                      if (res === 1){
                          $(obj).parents("tr").remove();
                          layer.msg('已删除!',{icon:1,time:1000});
                      }else {
                          layer.alert("更新失败", {icon: 5});
                      }
                  }
              });
          });
      }

      function delAll (argument) {
          var data = tableCheck.getData();
          layer.confirm('确认要删除吗？',function(index){
              //捉到所有被选中的，发异步进行删除
              $.ajax({
                  url:"/index/index/delall",
                  type:"POST",
                  dataType:"json",
                  data:{
                      table:"hy_drawing_detial",  //表名
                      data:data   //数据
                  },
                  success:function (res) {
                      layer.msg(res.message, {icon: 1});
                      $(".layui-form-checked").not('.header').parents('tr').remove();
                  },
              });
          });
      }
  </script>
</body>
</html>