<div class="footer">
    <div class="serverbox w clearfix">
        <ul class="server-list clearfix">
            <li class="item-first">
                <h4>平台公告</h4>
                <a href="/article/12">关于中秋放假公告 </a>
                <a href="/article/11">关于平台晒单公告 </a>
                <a href="/article/10">防台风“鲇鱼”--配送延迟公告 </a>
                <a href="/article/1">关于双11配送延迟 </a>
            </li>
            <li>
                <h4>新手帮助</h4>
                <a href="/article/8">退换货说明</a>
                <a href="/article/7">售后政策</a>
                <a href="/article/6">在线支付</a>
                <a href="/article/5">预存款使用说明</a>
                <a href="/article/4">积分说明</a>
                <a href="/article/3">购物流程</a>
            </li>
            <li>
                <h4>售后服务</h4>
                <a href="/article/19">如何办理退换货</a>
                <a href="/article/18">退款详细说明</a>
                <a href="/article/17">退换货政策说明</a>
            </li>
            <li>
                <h4>关于我们</h4>
                <a href="/article/23">人才招聘</a>
                <a href="/article/22">联系我们</a>
                <a href="/article/20">关于我们</a>
            </li>
        </ul>
        <div class="custom-service">
            <h4>在线咨询</h4>
            <span class="server-tel">400-881-8283</span>
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1093157171&amp;site=qq&amp;menu=yes" target="_blank" class="server-btn"><i class="icon icon-zxkf"></i><span>在线客服</span></a>
            <h4>微信公众号</h4>
            <a class="weixin-code" href="javascript:;">
                <img src="/static/index/picture/qrcode-90x90_1.jpg" />
            </a>
        </div>
    </div>

    <div class="company-cr w-full">
        <div class="company-info w clearfix">
            <span class="copyright">COPYRIGHT 2015-2018</span>

            <span class="company-name">艺创陶瓷</span>

            <span class="company-icp">闽ICP备15012617号</span>

            <div><a href="#" target="_blank">网站地图</a><a href="#" target="_blank">标签</a><a href="#" target="_blank">友情链接</a></div>
        </div>

    </div>
</div>

</body>
<link href="/static/index/css/default_1.css" rel="stylesheet" type="text/css" />
<script src="/static/index/js/artdialog_1.js"></script>
<script src="/static/index/js/iframetools_1.js"></script>