<div class="swiper-container w-full">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="" title="柴烧" target="_blank">
                <img src="/static/index/picture/a1_1.jpg" />
            </a>
        </div>
        <div class="swiper-slide">
            <a href="" title="汝窰" target="_blank">
                <img src="/static/index/picture/a2_1.jpg" />
            </a>
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
