<div class="swiper-container w-full">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="height: 400px;">
            <a href="" title="中秋" target="_blank">
                <img src="/static/index/picture/timg.jpg" height="100%"/>
            </a>
        </div>
        <div class="swiper-slide"  style="height: 400px;">
            <a href="" title="优惠" target="_blank">
                <img src="/static/index/picture/timg (2).jpg" height="100%"/>
            </a>
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
