<div class="swiper-container w-full">
    <div class="swiper-wrapper">
        {volist name="roadcast" id="roadcast"}
        <div class="swiper-slide" style="height: 400px;">
            <a href="{:url('index/Goods/index',array('id'=>$roadcast.good_id))}" title="{$roadcast.name}" target="_blank">
                <img src="/static/uploads/{$roadcast.img_path}" height="100%"/>
            </a>
        </div>
        {/volist}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
