<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>所有产品-PHPMall</title>
	<meta name="keywords" content="所有产品"/>
	<meta name="description" content="所有产品"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />	
	<link rel="stylesheet" href="/static/index/css/base_1.css" />
	<link rel="stylesheet" href="/static/index/css/category.css" />
	<script src="/static/index/js/jquery-2.1.4.min_1.js"></script>
	<script src="/static/index/js/jquery-migrate-1.2.1.min_1.js"></script>
	<link type="image/x-icon" href="/public/uploads/cache/images/osc1/store/index-16x16.jpg" rel="icon">
	<link type="image/x-icon" href="/public/uploads/cache/images/osc1/store/index-16x16.jpg" rel="bookmark">
</head>
<body>
	<div class="com-top-nav w">
	<div class="wcp-wrap">
	</div>
</div>
	{include file='public/header'}
<div class="wcp_wrap">
	<div class="list_crumb">
		<ul class="list_crumb_list">
			<li class="classify"><a href="/">首页</a><i class="crumb_arrow"></i></li>
			<a href="{:url('index/Categorys/index',array('id'=>0))}"><li class="classify">所有产品</li></a>
		</ul>
	</div>
	<div id="filter" class="selector_box">
		<div class="selector_info">
			<h3>
				<em>产品筛选</em> <b> </b>
			</h3>			
			<span style="float:right;">搜索到<b>{$count}</b>件商品</span>
		</div>
		{volist name="category" id="vo_category"}
		<dl class="selector_line">
			<a  href="{:url('index/Categorys/index',array('id'=>$vo_category.id))}"><dt  {if $id==$vo_category.id} style="color: #f60;" {/if}  >{$vo_category.cate_name}</dt></a>
			<?php $erji = $vo_category['erji'];?>
			<dd class="values">
				<ul>
					{volist name="$erji" id="vo_erji"}
						<a href="{:url('index/Categorys/index',array('id'=>$vo_erji.id))}"><li class="filter {if $id==$vo_erji.id} hover{/if}">{$vo_erji.cate_name}</li></a>
					{/volist}
				</ul>
			</dd>
		</dl>
		{/volist}
	</div>
</div>	

<div class="wcp_wrap clearfix">
			<div class="produ-selection w">
				<div class="produ-lists w">
					{if $count !=0}
					<!--遍历商品-->
					{volist name="goods" id="vo_goods"}
					<div class="produ-box">
						<div class="produ-box-content">
							<a target="_blank" class="produ-img" href="{:url('index/Goods/index',array('id'=>$vo_goods.id))}">
								<img alt="{$vo_goods.goods_name}" width="100%"  src="/static/uploads/{$vo_goods.og_thumb}" style="display: inline;">
								<div class="overburden"></div></a>
							<div class="produ-classes">
								<a class="prev hidden" href="javascript:;"></a>
								<div>
									<ul>
										<?php $images = $vo_goods['images']; ?>
										{volist name="images" id="vo_images"}
										<li class="current">
											<a data-info="/{$vo_images.img_path}">
												<img class="loading" src="/{$vo_images.img_path}" style="display: inline;">
											</a>
										</li>
										{/volist}
									</ul>
								</div>
								<a class="next hidden" href="javascript:;"></a>
							</div>
							<span class="produ-info">{$vo_goods.goods_name|subtext=30}</span>

							<span class="produ-price-info ">&yen; <span class="produ-price">{$vo_goods.shop_price}</span></span>
							<span class="produ-buy-now">
								<div class="buy-now color-white section">
									<p><a target="_blank" gid="9" class="buy-now-btn buy-now-btn-1 buy-now-btn-1b">立刻购买</a></p>
								</div>
							</span>
						</div>
					</div>
					{/volist}
					{else}
					<div id="snp" class="snPages">
						(>﹏<) 没有产品
					</div>
					{/if}
					<!--遍历商品end-->
					</div>
			</div>

</div>

	<!--底部-->
	{include file='public/footer'}

	<script>
        $(document).ready(function() {
            var mySwiper = new Swiper('.swiper-container', {
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                autoplay: 6000,
                simulateTouch: false,
                speed: 300,
                loop: true,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                paginationBulletRender: function(swiper, index, className) {
                    var strs = new Array();
                    for (var i = 0; i < $(".swiper-container .swiper-wrapper").find("div.swiper-slide").length; i++) {
                        strs[i] = $(".swiper-container .swiper-wrapper").find("div.swiper-slide").eq(i).find("a").attr("title");
                    }
                    return '<span class="' + className + '">' + strs[index + 1] + '</span>';
                }
            });
        });

        $(".produ-classes ul li.current a").each(function() {
            var srcStr, $img;
            $img = $(this).parent().parent().parent().parent().parent().find(".produ-img img");
            srcStr = $img.attr("src");
            $(this).hover(function() {
                    $img.attr("src", $(this).attr("data-info"));
                },
                function() {
                    $img.attr("src", srcStr);
                })
        });
        $(".produ-classes ul").each(function() {
            var lengths1 = $(this).find("li").length;
            if (lengths1 <= 5) {
                $(this).parent().siblings("a.prev").addClass("hidden");
                $(this).parent().siblings("a.next").addClass("hidden");
            } else {
                $(this).parent().siblings("a.prev").removeClass("hidden");
                $(this).parent().siblings("a.next").removeClass("hidden");
            }
        });

	</script>
